@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  max-width: 100%;
}
button {
  cursor: pointer;
}
body {
  background-color: #ddd;
}
.app {
  border-radius: 8px;
  width: 75%;
  margin: 48px auto 80px;
  background-color: #fff;
}
header, .home {
  margin: auto;
}
header {
  margin-top: 32px;
  padding: 24px 80px;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
  padding: 48px 80px;
  margin: 8px;
}
.img-container:first-child {
  grid-area: 1 / 1 / 3 / 3;
}
.img-container img {
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100%;
}

/* ---------------------------------------------------------------------
                          Responsive Design
--------------------------------------------------------------------- */
@media(max-width: 768px) {
  .app {
    width: 90%;
  }
  header, .gallery {
    padding: 48px;
  }
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media(max-width: 640px) {
  header, .gallery {
    padding: 24px;
  }
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(max-width: 480px) {
  .app {
    width: 95%;
  }
  header, .gallery {
    padding: 16px 8px;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}